.container {
    padding-top: 5vh;
    .tooltip-style {
      position: fixed;
      padding: 10px 20px;
      border: 1px solid #b3c9ce;
      border-radius: 4px;
      text-align: center;
      color: rgb(248, 244, 244);
      background: rgb(7, 7, 7);
      box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
      z-index: 99990;
    }
}

  
  